.itemListContainer {
  @apply h-[118px] overflow-hidden text-[14px];
  transition: all 0.4s;
}

.container {
  @apply flex flex-col gap-[25px] absolute top-0 left-0 h-[calc(100vh-78px)] w-[300px] bg-white;
  @apply pl-[40px] pr-[20px] py-[15px];

  &::-webkit-scrollbar {
    @apply w-[3px] bg-[#f5f5f5] rounded-md;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }
}

.allListBoxContainer {
  @apply flex flex-col gap-[30px] overflow-y-scroll;
  &::-webkit-scrollbar {
    @apply w-[3px] bg-[#f5f5f5] rounded-md;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }
}

.priceInput {
  @apply border border-lightgray py-[8px] px-[20px] rounded-[50px] relative;

  &:focus {
    @apply outline-none border-primary;
  }

  &:focus + div {
    @apply top-[-7px] opacity-[1];
    transition: all 0.2s;
  }
}

.label {
  @apply absolute top-[15px] left-[20px] w-[70px] h-[14px] bg-white text-[12px] opacity-0;
  @apply flex items-center justify-center pointer-events-none;
  transition: all 0.2s;
}
