.full-carousel#swiper-reset {
  .swiper-button-prev,
  .swiper-button-next {
    @apply hidden;
  }

  .swiper-pagination-bullet {
    @apply bg-[#ffffffc9] rounded-[50px] w-[10px] h-[5px];
  }

  .swiper-pagination-bullet-active {
    @apply w-[30px];
  }
}

.react-stars {
  @apply flex gap-[5px];
}

#item-detail {
  .swiper-button-prev,
  .swiper-button-next {
    @apply text-black z-[200];
  }

  .swiper-button-prev::after {
    transform: scale(0.5);
  }

  .swiper-button-next::after {
    transform: scale(0.5);
  }
}

.image-gallery-image {
  @apply aspect-square;
}

.image-gallery-thumbnail.active {
  border: 1px solid black !important;
}

.image-gallery-thumbnail:hover {
  border: 1px solid black !important;
}

.image-gallery-icon {
  svg {
    stroke: black !important;
    width: 20px !important;
  }
  .image-gallery-svg {
  }
}

#review-dialog::-webkit-scrollbar {
  @apply hidden;
}

input.review-dialog-input {
  @apply w-full h-full bg-transparent;

  &:focus {
    border: none;
    outline: none;
  }

  &::-webkit-input-placeholder {
    @apply text-[#828282] text-[14px];
  }
}

textarea.custom-address-input {
  &:focus {
    border: none;
    outline: none;
  }
}

.react-international-phone-input-container {
  @apply flex gap-[5px] mt-[10px];

  .react-international-phone-country-selector {
    @apply w-[84px] px-[20px] flex items-center justify-center border border-[#F2F2F2] rounded-[50px];

    button {
      @apply w-full;
      border: none;

      &:hover {
        @apply bg-transparent;
      }

      .react-international-phone-country-selector-button__button-content {
        @apply w-full  flex justify-between;
      }
    }
  }

  input.react-international-phone-input {
    @apply !rounded-[50px] !w-[355px] !pl-[20px] text-[#828282] text-[14px];
  }
}

#signup-username {
  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    @apply text-[#828282] text-[14px];
  }
}
