@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import "@/assets/css/main.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-md {
    @apply px-[2.7778%];
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
}

.button-active {
  @apply bg-primary text-white border-none;
}

.test {
  /* @apply flex flex-row  justify-between flex-wrap; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}
